
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,600');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// WELCOME PAGE

.brand, .navbar-brand {
    font-family: Pacifico, cursive;
    color: $primary;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.welcome-content {
    text-align: center;
    color: $white;
}

.welcome-new {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: large;
    a {
        color: $white;
    }
    a:hover {
        text-decoration: none;
    }
}

.welcome-links > a {
    color: $white;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
}

// NAV BAR
.nav-link, .nav-link:hover {
    color: $primary;
}
